<% content_for :title, "Tasks" %>

<div class="task-container">
  <div class="task-card">
    <%# Weather info section %>
    <div class="weather-data" data-controller="weather" data-turbo-permanent>
      <%# requires controller name to be prefixed %>
      <span data-weather-target="temperature">--</span>
      <span>
        <span data-weather-target="sunrise">--:--</span> /
        <span data-weather-target="sunset">--:--</span>
      </span>
    </div>
    

    <div class="task-heading"><h3>Task Manager</h3></div>

    <div class="add-task">
      <%= form_with(model: Task.new, url: tasks_path, data: { controller: "validation", action: "turbo:submit-end->validation#reset" }) do |f| %>
        <%= f.text_field :title, placeholder: "Add a new task" %>
        <%= f.submit "Add"%>
      <% end %>
    </div>

    <%= turbo_frame_tag "tasks" do %>
      <%= render partial: "task_list", locals: { todo_tasks: @todo_tasks, completed_tasks: @completed_tasks } %>
    <% end %>
  </div>
</div>
